.holaa{
  text-align: center;
  margin-top: 1rem;
  width: 100%;
  height: auto;
  }

.hola2{
  margin-top: 1rem;
}
.jajaja{
  font-size: 50px;
  font-weight: 50;
  margin-bottom: 0;
}
.juajua{
  text-align: center;
}
.container-fluid{
  padding: 0;
}
.hola5{
  padding: 0;
}
.hola6{
  margin: 0;
} 
.padd1{
  padding: .5rem 1rem;
}


// portada index
.contenido{
  background-image: url(https://images.pexels.com/photos/2792347/pexels-photo-2792347.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  width: 100%;
  height: 600px;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  overflow: hidden;
  h1, p {
  padding-left: 20px;
  padding-right: 20px;}
}
.txt {
  position: absolute;
  transition: all .5s;
  transform: scale(1.5);
  opacity: 0;
}   

.txt:hover {
  transform: scale(1);
  opacity: 1;
}

// fin portada index




.unremtop {
  padding-top: 1rem; }

.unrembottom {
  padding-bottom: 1rem; }

.featurette-divider {
  margin: 1rem ;
}

// formulario
form {
  width: 450px;
  margin: auto;
  background: rgba(0,0,0,0.4);
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 7px;
}
h2 {
  color: #fff;
  text-align: center;
  margin: 0;
  font-size: 30px;
  margin-bottom: 20px;
}

input, textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
  border: none;
}
 textarea{
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
 }

#boton {
  background: rgba(0,0,0,0.4);
  color: #fff;
  padding: 20px;
}

#boton:hover {
  cursor: pointer;
  background: hotpink;
}
.contenido2 {
  background-image: url(https://images.pexels.com/photos/2792347/pexels-photo-2792347.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  height: 600px;
}